.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  padding: 15px 30px !important;
  font-size: 17px !important;
  width: 220px !important; 
  height: 80px !important;
  cursor: pointer;
  border-radius: 10px !important;
  border: none !important;
  background-color: #e0e0e0;
  color: #000;
  font-weight: bold;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  transition: all 0.3s ease !important; 
}

button:hover {
  background-color: #555555 !important; 
  color: #fff !important; 
  transform: translateY(-3px); 
}